@model IEnumerable<BugTracker.Models.Ticket>
@using Microsoft.AspNetCore.Identity
@using BugTracker.Services.Interfaces
@using BugTracker.Models.Enums

@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService

@{
    ViewData["Title"] = "Archived Tickets";
    BTUser btUser = await UserManager.GetUserAsync(User);
}

<h1>Archived Tickets</h1>


<hr />
<div class="container">

    <div class="row">

        @foreach (Ticket ticket in Model.OrderBy(t => t.Project.Name)
                                        .ThenBy(t => t.TicketPriority.Id))
        {
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="category mb-30">
                    <div class="job">
                        <div class="row">
                            <div class="col">
                                <h3>
                                    <a class="ticket-title" asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id">@ticket.Title</a>
                                </h3>
                            </div>
                            <div class="col">
                                @switch (ticket.TicketPriority.Name)
                                {
                                    case nameof(BTTicketPriority.Urgent):
                                        {
                                            <span class="bg-danger mb-4 ms-20">@ticket.TicketPriority.Name</span>

                                            break;
                                        }

                                    case nameof(BTTicketPriority.High):
                                        {
                                            <span class="bg-warning mb-4 ms-20">@ticket.TicketPriority.Name</span>
                                            break;

                                        }
                                    case nameof(BTTicketPriority.Medium):
                                        {
                                            <span class="bg-info mb-4 ms-20">@ticket.TicketPriority.Name</span>
                                            break;

                                        }
                                    case nameof(BTTicketPriority.Low):
                                        {
                                            <span class="bg-primary mb-4 ms-20">@ticket.TicketPriority.Name</span>
                                            break;

                                        }
                                    default: break;
                                }

                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col">
                                @if (string.IsNullOrEmpty(ticket.DeveloperUserId))
                                {
                                    <h5>Developer: Unassigned</h5>
                                }
                                else
                                {
                                    <h5>Developer: @ticket.DeveloperUser.FullName</h5>
                                }
                            </div>
                            <div class="col">
                                <h5>Status: @ticket.TicketStatus.Name</h5>
                            </div>
                        </div>

                        <div class="">
                            <a class="btn btn-primary" asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id">Details</a>

                            @if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
                            {
                                <a class="btn btn-primary" asp-action="Edit" asp-controller="Tickets" asp-route-id="@ticket.Id">Edit</a>

                            }

                            @if (User.IsInRole(nameof(Roles.Admin)))
                            {
                                if (!ticket.Archived)
                                {
                                    <a class="btn btn-danger" asp-action="Archive" asp-controller="Tickets" asp-route-id="@ticket.Id">Archive</a>
                                }
                                else
                                {
                                    <a class="btn btn-success" asp-action="Restore" asp-controller="Tickets" asp-route-id="@ticket.Id">Restore</a>
                                }
                            }
                        </div>

                    </div>
                </div>

            </div>

        }
    </div>


</div>
