@model IEnumerable<BugTracker.Models.Project>
@using BugTracker.Models.Enums
@using Microsoft.AspNetCore.Identity
@using BugTracker.Services.Interfaces

@inject UserManager<BTUser> UserManager
@inject IBTProjectService _projectService
@inject IBTFileService _imageService
@{
    ViewData["Title"] = "My Projects";
    BTUser btUser = await UserManager.GetUserAsync(User);

}

<div class="ms-4 me-4">
    <h1>My Projects</h1>
    @if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
    {
        <p>
            <a class="btn btn-primary" asp-action="Create">Create New</a>
        </p>
    }

    <hr />
    <div class="row">
        @foreach (Project project in Model.OrderBy(p => p.Name))
        {
            <div class="col-sm-12 col-md-6 pt-2 pb-2">
                <div class="card" style="height:auto; width:auto">
                    <div class="card-body">
                        <h4 class="card-title">@project.Name</h4>
                        <p class="card-text">@project.Description</p>
                        <div class="row">
                            <div class="col">
                                <a asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id" class="btn btn-primary">Details</a>

                                @{
                                    bool isProjectPM = (await _projectService.GetProjectManagerAsync(project.Id))?.Id == btUser.Id;


                                    if (User.IsInRole(nameof(Roles.Admin)) || isProjectPM)
                                    {
                                        <a class="btn btn-primary" asp-controller="Projects" asp-action="Edit" asp-route-id="@project.Id">Edit</a>
                                        @if (project.Archived)
                                        {
                                            <a class="btn btn-success" asp-action="Restore" asp-controller="Projects" asp-route-id="@project.Id">Restore</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-danger" asp-controller="Projects" asp-action="Archive" asp-route-id="@project.Id">Archive</a>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">   </div>
                </div>
            </div>
        }
    </div>
</div>



